@media screen and (max-width:795px) {
  .products {
    display: block;
  }

  .product {
    width: -webkit-fill-available;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 32px;
  }

  img {
    height: 290px;
  }
}